.container {
    color: white;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    max-width: 800px;

}

.img {
    width: 200px;
    border-radius: 50%;
}

.wrapp_about {
    margin: 10px 50px;
    font-size: 1.3rem;
}

.wrapp_about p {
    font-size: 1.2rem;
    margin-top: 20px;
}

/*1200px
992px
768px
540px
480px
375px
320px*/


@media (max-width: 1200px) {
    /* .container {
        border: 2px solid white;

    } */
}

@media (max-width: 540px) {
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .btn {
        margin: 20px;
    }

    .active {
        color: black;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 80px;
    }

    .btn {
        margin: 10px;
    }

    .active {
        color: black;
    }
}

@media (max-width: 375px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .btn {
        margin: 50px;
    }

    .active {
        color: black;
    }
}